{% extends 'bootstrap-italia-base.html' %}
{% load static %}
{% load i18n static %}
{% load staticfiles %}
{% block page_title %}
Robinson List
{%block page_subtitle%}{%endblock%}{% endblock page_title %}
{% block extra_head %}
<link href="{% static 'style.css' %}" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="{% static 'chosen/chosen.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'chosen/bootstrap-chosen.css' %}" />
{% endblock %}

{% block header_slim_wrapper %}
<header id="main-header" class="header it-header-slim-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="it-header-slim-wrapper-content">
          <a class="d-none d-md-block navbar-brand" href="{% url 'index' %}">
            Robinson List
          </a>
          <a id="mise-logo" data-img="{% static 'images/logomin.png' %}"
            class="d-none d-md-block navbar-brand text-right"></a>
          <a class="d-md-none d-sm-block navbar-brand" href="{% url 'index' %}">
            Robinson List
          </a>
          <a id="mise-logo-sm" data-img="{% static 'images/logomin.png' %}"
            class="d-md-none d-sm-block navbar-brand"></a>
          <div class="header-slim-right-zone">
            <div class="it-access-top-wrapper">

              <a href="#" title="Manual" class="btn btn-default btn-xs"
                style="margin: 0 10px 0 10px; color: white; font-weight: bold; font-size: 14px">
              </a>

              {% if user.is_authenticated %}


              {%include 'partials/icon.html' with icon="it-user" cls="icon-xs icon-white"%}
              {% if request.user.soggetto %}
              <span style="margin: 0 10px 0 0; color: white; font-weight: bold; font-size: 14px">
                {{request.user.soggetto}} </span>
              {% else %}
              <span style="margin: 0 10px 0 0; color: white; font-weight: bold; font-size: 14px">
                {{request.user.username}} </span>
              {% endif %}

              {% if request.user.is_staff %}
              <a href="/admin/"><button title="Admin console" alt="Admin console" class="btn btn-primary btn-sm"
                  href="/admin/" type="button">Admin</button> </a>
              {% endif %}

              <a href="{% url 'logout' %}"><button alt="Logout disabled" class="btn btn-primary btn-sm" href="#"
                  type="button">Logout</button> </a>

              {% endif %}
            </div> <!-- it-access-top-wrapper -->
          </div> <!-- header-slim-right-zone -->
        </div> <!-- it-header-slim-wrapper-content -->
      </div> <!-- col-12 -->
    </div> <!-- row -->
  </div> <!-- container -->
</header>
{% endblock header_slim_wrapper %}

{% block header_center_logo %}

<img style="margin-right: 15px" class="header_LOGO img-fluid" alt="" src="{% static 'images/blockchain.jpg' %}"
  width="100" height="111">
{% endblock header_center_logo %}

{% block header_center_org_name %}
Robinson List
{% endblock header_center_org_name %}

{% block header_center_org_subname %}
Distributed Application
{% endblock header_center_org_subname %}

{% block header_center_url %}
{% url 'index' %}
{% endblock header_center_url %}

{% block header_center_search %}{% endblock %}

{% block header_center_social %}
{% endblock %}

{% block main_menu %}
<div class="it-header-navbar-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {% include 'partials/navbar.html'%}
      </div>
    </div>
  </div>
</div>
</div>
{% endblock main_menu %}

{% block centered_container %}
{% block title %}{% endblock %}
{% block description %}Cosa fa questa pagina?{% endblock description %}
{% endblock centered_container%}

{% block footer_contacts_section %}
<section class="py-4 border-white border-top">
</section>
{% endblock footer_contacts_section %}

{% block first_column %}{% endblock first_column %}

{% block second_column %}{% endblock second_column %}

{% block third_column %}{% endblock third_column %}

{% block fourth_column %}{% endblock fourth_column %}

{% block footer_top_section %}
<section>
  <div class="row clearfix">
    <div class="col-sm-11">
      <div class="it-brand-wrapper">
        <a href="#">
          <img style="margin: 0 15px 0 0" alt="" src="{% static 'images/blockchain.jpg' %}" width="50" height="55">
          <div class="it-brand-text">
            <h2 class="no_toc">
              Robinson List
            </h2>
            <h3 class="no_toc d-none d-md-block">
              Distributed Application
            </h3>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-1">
      <div class="it-brand-wrapper link-list-wrapper">
        <h4><a>Support</a></h4>
        <ul class="footer-list link-list clearfix">
          <li><a class="list-item" href="mailto:help-desk@rpo.com">Help Desk</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
{% endblock footer_top_section %}

{% block footer_menu_section %}{% endblock footer_menu_section %}

{% block footer_bottom %}{% endblock footer_bottom %}

{% block bottom_scripts %}
<script src="{% url 'bootstrap_static_base' %}"></script>
<script src="{% static 'js/bootstrap-italia.bundle.min.js' %}"></script>
{% endblock bottom_scripts %}