{% extends 'base.html' %}
{% block centered_container %}
{% block title %}{% endblock %}
{% block description %}
<h4>Register</h4>
<form method="POST" class="post-form">{% csrf_token %}
	{{ form.as_p }}
	<button type="submit" class="save btn btn-default">Save</button>
</form>
{% endblock description %}
{% endblock centered_container%}