{% extends 'base.html' %}
{% block centered_container %}
{% block title %}{% endblock %}
{% block description %}
<h4>Robinson List</h4>
<hr />

{% if not user.is_authenticated %}
<p>Welcome to the distributed version of the Robinson List</p>
<br />
<a class='btn btn-primary' href="{% url 'login' %}">Login</a>
<a class='btn btn-primary' href="{% url 'register' %}">Register</a>
{% else %}
<p>Welcome to the distributed version of the Robinson List</p>
{% if pk is not None and mnemonic is not None %}
<p><strong>Below are the data of the newly created wallet. For security reasons the private key and mnemonic phrase will
		be shown just once.</strong></p>
<p><strong style="color: red;">COPY THE INFORMATION BEFORE CHANGING PAGE</strong></p>
<p><strong>Private Key: </strong>{{pk}}</p>
<p><strong>Mnemonic phrase: </strong>{{mnemonic}}</p>
{% endif %}
<p><strong>Wallet: </strong>{{request.user.address}}</p>
{% if not request.user.is_staff %}
<p><strong>Status: </strong>
	{% if assets.OPT_IN == 1 %}
	OPT IN
	{% elif assets.OPT_OUT == 1%}
	OPT OUT
	{% else %}
	AUTHENTICATION NEEDED
	{% endif %}
</p>
<hr />

<!-- {% url 'opt_in' %} {% url 'opt_out' %} {% url 'optin_user_asa' %}-->
<div class="row">
	{% if assets.OPT_IN == 1 %}
	<button class="btn btn-outline-danger" data-toggle="modal" data-target="#insertpk">OPT OUT</button>
	{% elif assets.OPT_OUT == 1 %}
	<button class="btn btn-outline-primary" data-toggle="modal" data-target="#insertpk">OPT IN</button>
	{% else %}
	<button class="btn btn-outline-info" data-toggle="modal" data-target="#insertpk">AUTHENTICATE</button>
	{% endif %}
</div>
<hr />
<!-- Confirmation Modal insertpk-->
<div class="modal fade" id="insertpk" tabindex="-1" role="dialog" aria-hidden="true">
	<form method="post" class="form"
		action="{% if assets.OPT_IN == 1 %}{% url 'opt_in' %}{% elif assets.OPT_OUT == 1 %}{% url 'opt_out' %}{% else %}{% url 'optin_user_asa' %}{% endif %}">
		{% csrf_token %}
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5>Change your choice</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>
						Insert private key or mnemonic phrase.
					</p>
					<p>
						<input type="radio" id="priv_key" name="choice" value="priv_key" selected>
						<label for="priv_key">Private key</label>
						<input type="radio" id="mnemonic" name="choice" value="mnemonic">
						<label for="mnemonic">Mnemonic phrase</label>
					</p>
					<p><input type="text" name="priv_mnem"></p>
					<p>Continue?</p>
				</div>
				<div class="modal-footer">
					<div class="row text-right">
						<div class="col-md-12"> <button type="submit" class="btn btn-xs btn-danger"
								data-dismiss="modal">NO</button>
							<span>&nbsp;</span>
							<button type="submit" class="btn btn-xs btn-primary">YES</button>
						</div>
					</div>
				</div>
			</div>
	</form>
</div><!-- Confirmation Modal ELENCO -->
{% elif request.user.username == 'rpo' %}
<p><strong>Token OPT IN: </strong>
	{% if request.session.step == 1 %}
	0
	{% elif request.session.step == 2 or request.session.step == 3 %}
	1000000000
	{% else %}
	0
	{% endif %}
</p>
<p><strong>Token OPT OUT: </strong>
	{% if request.session.step == 1 %}
	0
	{% elif request.session.step == 2 or request.session.step == 3 %}
	1000000000
	{% else %}
	100000000
	{% endif %}
</p>
<hr />
<div class="row">
	global GroupSize<br />
	int 1<br />
	==<br />
	bnz l0<br />
	global GroupSize<br />
	int 2<br />
	==<br />
	gtxn 0 TypeEnum<br />
	int 4<br />
	==<br />
	&&<br />
	gtxn 1 TypeEnum<br />
	int 4<br />
	==<br />
	&&<br />
	gtxn 0 XferAsset<br />
	int 8<br />
	==<br />
	gtxn 0 AssetAmount<br />
	int 1<br />
	==<br />
	&&<br />
	gtxn 1 XferAsset<br />
	int 7<br />
	==<br />
	gtxn 1 AssetAmount<br />
	int 1<br />
	==<br />
	&&<br />
	&&<br />
	gtxn 0 XferAsset<br />
	int 7<br />
	==<br />
	gtxn 0 AssetAmount<br />
	int 1<br />
	==<br />
	&&<br />
	gtxn 1 XferAsset<br />
	int 8<br />
	==<br />
	gtxn 1 AssetAmount<br />
	int 1<br />
	==<br />
	&&<br />
	&&<br />
	||<br />
	&&<br />
	int 1<br />
	bnz l1<br />
	pop<br />
	l0:<br />
	txn AssetReceiver<br />
	txn Sender<br />
	==<br />
	txn AssetCloseTo<br />
	global ZeroAddress<br />
	==<br />
	&&<br />
	txn XferAsset<br />
	int 8<br />
	==<br />
	txn XferAsset<br />
	int 7<br />
	==<br />
	||<br />
	&&<br />
	txn TypeEnum<br />
	int 4<br />
	==<br />
	txn AssetSender<br />
	global ZeroAddress<br />
	==<br />
	&&<br />
	txn AssetAmount<br />
	int 0<br />
	==<br />
	&&<br />
	&&<br />
	l1:<br />
	txn Fee<br />
	int 1000<br />
	>=<br />
	&&<br />
</div>
<hr />
<div class="row">
	{% if not request.session.step == 4 %}
	<a class="btn btn-outline-primary" href="{% url 'process_op' %}">
		{%include 'partials/icon.html' with icon="it-check-circle" cls="icon-sm icon-primary"%}
		{% if request.session.step == 1 %}
		Create assets
		{% elif request.session.step == 2 %}
		Compile smart contract
		{% elif request.session.step == 3 %}
		Deploy smart contract
		{% endif %}
	</a>
	{% endif %}
</div>

{% else %}
<p><strong>Token OPT IN: </strong>{{assets.OPT_IN}}</p>
<p><strong>Token OPT OUT: </strong>{{assets.OPT_OUT}}</p>

<hr />

<div class="row">

	<button class="btn btn-outline-primary" data-toggle="modal" data-target="#load_csv_modal">
		{%include 'partials/icon.html' with icon="it-upload" cls="icon-sm icon-primary"%}
		Prune list
	</button>
</div>

<!-- Confirmation Modal ELENCO-->
<div class="modal fade" id="load_csv_modal" tabindex="-1" role="dialog" aria-hidden="true">
	<form enctype="multipart/form-data" method="post" class="form" action="{% url 'confronta_csv' %}">
		{% csrf_token %}
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5>Prune your list</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>
						Loading a CSV file, it will be compared with the consensus expressed by each user.
					</p>
					<p>Continue?</p>
					<p><input type="file" name="elenco_rpo_priv"></p>
				</div>
				<div class="modal-footer">
					<div class="row text-right">
						<div class="col-md-12"> <button type="submit" class="btn btn-xs btn-danger"
								data-dismiss="modal">NO</button>
							<span>&nbsp;</span>
							<button type="submit" class="btn btn-xs btn-primary">YES</button>
						</div>
					</div>
				</div>
			</div>
	</form>
</div><!-- Confirmation Modal ELENCO -->

{% endif %}
{% endif %}
{% endblock description %}
{% endblock centered_container%}