{% extends "base.html" %}
{% load static %}
{% load tag_utils %}


{% block centered_container %}
{% block title %}<h4>Subscribers' list</h4>{% endblock %}
{% block description %}
<p>Below are shown all the subscribers with their choice status</p>
<p><strong>Registered Users: </strong>{{registered}}</p>
<p id='urlapp' hidden>{{url}}</p>
{% endblock %}

<form method="GET">
	{% csrf_token %}
	<div class='row'>
		<div class="col-md-3">
			<label for="username">User</label>
			<input type="text" name="username" value='{% if username %}{{username}}{% endif %}'>
		</div>
		<div class="col-md-3">
			<label for="phone">Mobile Phone</label>
			<input type="text" name="phone" value='{% if phone %}{{phone}}{% endif %}'>
		</div>
		<div class="col-md-6">
			<label for="address">Address</label>
			<input type="text" name="address" value='{% if address %}{{address}}{% endif %}'>
		</div>
	</div>
	<br />
	<div class='row'>
		<button type="submit" class="btn btn-primary">Cerca</button>
	</div>
</form>
<hr />
{% if object_list %}
<table class="table table-striped">
	<thead>
		<tr>
			<th>User</th>
			<th>Mobile Phone</th>
			<th>Wallet</th>
			<th>Status</th>
			<th>Info</th>
		</tr>
	</thead>
	<tbody>
		{% for o in object_list %}
		<tr>
			<td>{{o.username}}</td>
			<td>{{o.mob_phone}}</td>
			<td class='wallet-info'>{{o.address}}</td>
			{% if o.status_code == 1 %}
			<td style="color:green; font-weight: bold;">OPT IN
				{% else %}
			<td style="color:red; font-weight: bold;">OPT OUT
				{% endif %}
			</td>
			<td>
				<button class="btn btn-outline-primary read-info" data-toggle="modal"
					data-target="#info_user">INFO</button>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<!-- Confirmation Modal info_user-->
<div class="modal fade" id="info_user" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5>INFO</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<table class='table table-striped'>
					<tr>
						<th>Wallet</th>
						<td style="word-wrap: break-word;min-width: 300px;max-width: 300px;" id='wallet'>...</td>
					</tr>
					<tr>
						<th>Registration Transaction</th>
						<td style="word-wrap: break-word;min-width: 300px;max-width: 300px;" id='reg_txn'>...</td>
					</tr>
					<tr>
						<th>Last change status Transaction</th>
						<td style="word-wrap: break-word;min-width: 300px;max-width: 300px;" id='status_txn'>...
						</td>
					</tr>
					<th>Time last change status</th>
					<td style="word-wrap: break-word;min-width: 300px;max-width: 300px;" id='time_status_txn'>...
					</td>
					</tr>
				</table>
				<br />
			</div>
		</div>
	</div>
</div><!-- Confirmation Modal INFO -->

<!-- paginator -->
{% if is_paginated %}
<p>Page{{ page_obj.number }} of <a
		href="{{ selfurl }}?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>.
</p>
<nav class="pagination-wrapper">
	<ul class="pagination">
		{% if page_obj.has_previous %}
		<li class="page-item">
			<a class="page-link" href="{{ selfurl }}?page={{ page_obj.previous_page_number }}">
				<svg class="icon icon-primary">
					<use xlink:href="{% static 'images/svg/sprite.svg' %}#it-chevron-left"></use>
				</svg>
				<span class="sr-only">Previous page</span>
			</a>
		</li>
		{% endif %}

		<!-- {% if not page_obj.number == 1 %}
    <li class="page-item"><a class="page-link" href="{{ selfurl }}?page=1">1</a></li>
    {% endif %} -->

		<li class="page-item active">
			<a class="page-link" href="#" aria-current="page">
				<span class="d-inline-block d-sm-none">Page </span>{{ page_obj.number }}
			</a>
		</li>

		<!-- {% if not page_obj.number == page_obj.paginator.num_pages %}
    <li class="page-item"><a class="page-link"
        href="{{ selfurl }}?page={{ page_obj.paginator.num_pages }}">
        {{page_obj.paginator.num_pages }}</a></li>
    {% endif %} -->

		{% if page_obj.has_next %}
		<li class="page-item">
			<a class="page-link" href="{{ selfurl }}?page={{ page_obj.next_page_number }}">
				<span class="sr-only">Pagina successiva</span>
				<svg class="icon icon-primary">
					<use xlink:href="{% static 'images/svg/sprite.svg' %}#it-chevron-right"></use>
				</svg>
			</a>
		</li>
		{% endif %}
	</ul>
</nav>
{% endif %}

{% else %}
<p class="emptymsg">No subscriber found</p>
{% endif %}

{% endblock centered_container %}

{% block bottom_scripts %}
{{block.super}}
<script src="{% static 'modal_tx.js' %}"></script>
{% endblock %}