{% extends "base.html" %}
{% load static %}
{% load tag_utils %}


{% block centered_container %}
{% block title %}<h4>Transactions' list</h4>{% endblock %}
{% block description %}
<p>Below are shown all the transactions.</p>
<p id='urlapp' hidden>{{url}}</p>
{% endblock %}

<form method="GET">
	{% csrf_token %}
	<div class='row'>
		<div class="col-md-6">
			<label for="wallet">Wallet</label>
			<input {% if not request.user.is_authenticated%}disabled{%endif%} type="text" name="wallet"
				value='{% if wallet %}{{wallet}}{% endif %}'>
		</div>
		<div class="col-md-6">
			<label for="transaction">Transazione</label>
			<input type="text" name="transaction" value='{% if transaction %}{{transaction}}{% endif %}'>
		</div>
	</div>
	<div class='row'>
		<div class="col-md-2">
			<label for="init_block">Blocco Iniziale</label>
			<input type="number" name="init_block" value='{% if init_block %}{{init_block}}{% endif %}'>
		</div>
		<div class="col-md-2">
			<label for="final_block">Blocco Finale</label>
			<input type="number" name="final_block" value='{% if final_block %}{{final_block}}{% endif %}'>
		</div>
		<div class='col-md-4'>
			<label for="type">Tipo</label><br />
			<select name="type">
				<option value="">---</option>
				<option value="axfer" {% if type == 'axfer' %}selected{%  endif%}>Asset</option>
				<option value="pay" {% if type == 'pay' %}selected{%  endif%}>Pagamento</option>
				<option value="reg" {% if type == 'reg' %}selected{%  endif%}>Registrazione</option>
			</select>
		</div>
	</div>
	<br />
	<div class='row'>
		<button type="submit" class="btn btn-primary">Cerca</button>
	</div>
	<hr />
	{% if object_list %}
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Transaction</th>
				<th>Payload</th>
			</tr>
		</thead>
		<tbody>
			{% for o in object_list %}
			<tr>
				<td style="word-wrap: break-word;min-width: 300px;max-width: 300px;">
					<pre> {{o.all | pretty_json }} </pre>
				</td>
				<td style="word-wrap: break-word;min-width: 300px;max-width: 300px;"
					{% if o.all.tx == request.session.tx_id %}id='decrypted' {% endif %}>
					<pre> {{o.payload }} </pre>
					{% if o.payload and o.payload != 'tax' %}
					<hr />
					<button type='button' class="btn btn-outline-primary read-payload" data-toggle="modal"
						data-target="#insertpk" data-txn="{{o.all.tx}}" data-sender="{{o.all.from}}">DECIFRA</button>
					{% endif %}
					{% if o.all.tx == request.session.tx_id %}
					<hr />
					{{request.session.decrypted}}
					{% endif %}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	<!-- paginator -->
	{% if is_paginated %}
	<p>Page{{ page_obj.number }} of <a
			href=" {{ selfurl }}?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>.
	</p>
	<nav class="pagination-wrapper">
		<ul class="pagination">
			{% if page_obj.has_previous %}
			<li class="page-item">
				<a class="page-link" href="{{ selfurl }}?page={{ page_obj.previous_page_number }}">
					<svg class="icon icon-primary">
						<use xlink:href="{% static 'images/svg/sprite.svg' %}#it-chevron-left">
						</use>
					</svg>
					<span class="sr-only">Previous page</span>
				</a>
			</li>
			{% endif %}

			<!-- {% if not page_obj.number == 1 %}
    <li class="page-item"><a class="page-link" href="{{ selfurl }}?page=1">1</a></li>
    {% endif %} -->

			<li class="page-item active">
				<a class="page-link" href="#" aria-current="page">
					<span class="d-inline-block d-sm-none">Page </span>{{ page_obj.number }}
				</a>
			</li>

			<!-- {% if not page_obj.number == page_obj.paginator.num_pages %}
    <li class="page-item"><a class="page-link"
        href="{{ selfurl }}?page={{ page_obj.paginator.num_pages }}">
        {{page_obj.paginator.num_pages }}</a></li>
    {% endif %} -->

			{% if page_obj.has_next %}
			<li class="page-item">
				<a class="page-link" href="{{ selfurl }}?page={{ page_obj.next_page_number }}">
					<span class="sr-only">Pagina successiva</span>
					<svg class="icon icon-primary">
						<use xlink:href="{% static 'images/svg/sprite.svg' %}#it-chevron-right">
						</use>
					</svg>
				</a>
			</li>
			{% endif %}
		</ul>
	</nav>
	{% endif %}

	{% else %}
	<p class="emptymsg">No valid transactions found</p>
	{% endif %}
</form>

<!-- Confirmation Modal insertpk-->
<div class="modal fade" id="insertpk" tabindex="-1" role="dialog" aria-hidden="true">
	<form method="post" class="form" action="{% url 'readpayload' %}">
		{% csrf_token %}
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5>Change your choice</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>
						Insert private key or mnemonic phrase.
					</p>
					<p>
						<input type="radio" id="priv_key" name="choice" value="priv_key" selected>
						<label for="priv_key">Private key</label>
						<input type="radio" id="mnemonic" name="choice" value="mnemonic">
						<label for="mnemonic">Mnemonic phrase</label>
					</p>
					<input type="text" name='enc_payload' id="note-payload" value="" hidden>
					<input type="text" name='tx_id' id="tx-id" value="" hidden>
					<input type="text" name='wallet_address' id="wallet-address" value="" hidden>
					<p><input type="text" name="priv_mnem"></p>
					<p>Continue?</p>
				</div>
				<div class="modal-footer">
					<div class="row text-right">
						<div class="col-md-12"> <button type="submit" class="btn btn-xs btn-danger"
								data-dismiss="modal">NO</button>
							<span>&nbsp;</span>
							<button type="submit" class="btn btn-xs btn-primary">YES</button>
						</div>
					</div>
				</div>
			</div>
	</form>
</div><!-- Confirmation Modal ELENCO -->

{% endblock centered_container %}

{% block bottom_scripts %}
{{block.super}}
<script src="{% static 'modal_tx.js' %}"></script>
{% endblock %}