.objectlist {
  margin-bottom: 2em;
}

.wrapper {
  background: #06C;
  border-radius: 25px;
}

.toggle_radio>label>p {
  color: white
}

.toggle_radio {
  position: relative;
  background: rgba(255, 255, 255, .1);
  margin: 4px auto;
  overflow: hidden;
  padding: 0 !important;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  position: relative;
  height: 26px;
  width: 318px;
}

.toggle_radio>* {
  float: left;
}

.toggle_radio input[type=radio] {
  display: none;
  /*position: fixed;*/
}

.formset-row:only-child .btn.remove-form-row {
  display: none;
}

.toggle_radio label {
  font: 90%/1.618 "Titillium Web";
  color: rgba(255, 255, 255, .9);
  z-index: 0;
  display: block;
  width: 100px;
  height: 20px;
  margin: 3px 3px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  cursor: pointer;
  z-index: 1;
  /*background: rgba(0,0,0,.1);*/
  text-align: center;
  /*margin: 0 2px;*/
  /*background: blue;*/
  /*make it blue*/
}

.toggle_option_slider {
  /*display: none;*/
  /*background: red;*/
  width: 100px;
  height: 20px;
  position: absolute;
  top: 3px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
}

.first.toggle_option:checked~.toggle_option_slider {
  background: rgba(255, 255, 255, .3);
  left: 3px;
}

.second.toggle_option:checked~.toggle_option_slider {
  background: rgba(255, 255, 255, .3);
  left: 109px;
}

.third.toggle_option:checked~.toggle_option_slider {
  background: rgba(255, 255, 255, .3);
  left: 215px;
}

form label.no-overflow {
  overflow: visible;
}

.card:after{
  content: none;
}

.card-body {
  border-left: 1px solid #d9dadb; 
  border-right: 1px solid #d9dadb;
  border-bottom: 1px solid #d9dadb;
}

.stato-domanda.text-success{
  color: rgb(0, 128, 0) !important;
}

.stato-domanda.text-warning{
  color:rgb(204, 163, 0) !important;
}

.stato-domanda.text-expired{
  text-decoration: line-through;
}

p .stato-domanda{
  margin-bottom: 0px;
}

.popover{
  max-width: 100%; /* Max Width of the popover (depending on the container!) */
}

td.table_field .form-group{
  margin-bottom: 10px
}

.table td{
  padding: 0.5rem
}

.form-group-autorizzazione {
  margin-bottom: 0px; 
}

.collapse-anchor{
  color: white;
  text-decoration: none;
}


.collapse-anchor:hover{
  color: #d9d9d9;
  text-decoration: none;
}

.area-card-header{
  background: #06c
}

.tipodomande-card-header{
  background: #0080ff
}


.domanda-card + .domanda-card{
  margin-top: 10px
}

.tipodomanda-card + .tipodomanda-card{
  margin-top: 20px
}

.collapse-img{
  width: 24px
}

.collapse-img-expand{
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}

 /* Style the header */
 .header {
  color: #f1f1f1;
}

.header a:hover{
  text-decoration: none !important;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  z-index: 90;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
} 

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.main-body {
  flex: 1 0 auto;
}
.it-footer {
  flex-shrink: 0;
}
div.required-bootstrap label::after
{
  content: " *";
}
.it-header-center-wrapper{
  height: 125px;
}

.radioBtn .notActive{
  color: #3276b1;
  background-color: #fff;
}

.tabella-domanda-popover{
  max-width: 300px;
}