{% load i18n static %}
{% for m in messages %}
{% if m.level == 25 %}
<!-- SUCCESS -->
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>{% trans 'Successo'%}</strong> {{m}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% elif m.level == 30 %}
<!-- WARNING -->
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>{% trans 'Attenzione'%}</strong> {{m}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% elif m.level == 40 %}
<!-- WARNING -->
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>{% trans 'Errore'%}</strong> {{m}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% else %}
<!-- DEFAULT -->
<div class="alert alert-info alert-dismissible fade show" role="alert">
  <strong>{% trans 'Info'%}</strong> {{m}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}
{% endfor %}
