{% load static %}

<nav class="navbar navbar-expand-lg has-megamenu">
  <button class="custom-navbar-toggler" type="button" aria-controls="nav10" aria-expanded="false"
    aria-label="Toggle navigation" data-target="#nav10">
    <svg class="icon">
      <use xlink:href="{% static 'images/svg/sprite.svg' %}#it-burger"></use>
    </svg>
  </button>
  <div class="navbar-collapsable" id="nav10">
    <div class="overlay"></div>
    <div class="close-div sr-only">
      <button class="btn close-menu" type="button"><span class="it-close"></span>close</button>
    </div>
    <div class="menu-wrapper">
      <ul class="navbar-nav">

        <li class="nav-item active"><a class="nav-link {% if navbar_item == 'home' %} active {% endif %}"
            href="{% url 'index' %}">
            <span>Home</span><span class="sr-only">current</span>
          </a>
        </li>

        {% if request.user.is_anonymous %}
        <li class="nav-item">
          <a class="nav-link {% if navbar_item == 'register' %}active {% endif %}"
            href="{% url 'register' %}"><span>Register</span></a>
        </li>
        {% elif request.user.is_staff %}
        <li class="nav-item">
          <a class="nav-link {% if navbar_item == 'subscribers' %}active {% endif %}"
            href="{% url 'subscribers' %}"><span>Subscribers</span></a>
        </li>
        {% endif %}

        <li class="nav-item active"><a class="nav-link {% if navbar_item == 'transactions' %} active {% endif %}"
            href="{% url 'transactions' %}">
            <span>Transactions</span>
          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>